torch==2.6.0
torchvision==0.21.0
torchtext==0.18.0
transformers==4.53.1
accelerate==1.4.0
einops==0.8.1
safetensors==0.5.3
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
matplotlib==3.10.1
seaborn==0.13.2
modlamp==4.3.2
bio==1.7.1
biopython==1.85
tqdm==4.67.1
requests==2.32.3
sentencepiece==0.2.0
huggingface-hub==0.33.2
wandb==0.19.8
